/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 nov 2022, 11:01:37
    Author     : am199
*/

#pane{
    -fx-background-image: url("fondo_1.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 780 800;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#boton{
   -fx-background-color: #95a3e8;
}